@import './styles/_common.scss';

.BreadcrumbsWrapper {
    @include list-unstyled;
    @include border('top');
    @include padding($top: 10);

    display: flex;
    justify-content: flex-end;
    .__item {
        @include padding($right: 10);
        @include f-size(x-small);

        &.isCurrent {
            @include padding($right: 0);
            @include color(gray);
        }
    }
    .__anchor {
        @include link-base;
    }
    @include media-breakpoint-down(md) {
        display: none;
    }
}