@import './styles/_common.scss';

.BreadcrumbsWrapper {
    @include list-unstyled;
    @include border('top');
    padding-top: map-get($spacers, 10);
    display: flex;
    justify-content: flex-end;
    .__item {
        padding-right: map-get($spacers, 15);
        &.isCurrent {
            color: map-get($colors, gray);
            padding-right: 0;
        }
    }
    .__anchor {
        @include link-base;
    }
}