@import './styles/_common.scss';

.Column {
    padding: 0 map-get($LayerSpacers, padding);
    &.--xs1 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    &.--xs2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    &.--lg2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    &.--lg3 {
        flex: 0 0 calc(100%/3);
        max-width: calc(100%/3);
    }
    &.--spacer-bottom30 {
        padding-bottom: map-get($spacers, 30);
    }
}