@import './styles/_common.scss';

.Button {
    position: relative;
    overflow: hidden;
    .__link {
        @include rm-decoration;
        @include button-creator;
        
        &.--primary {
            @include button-variant('primary');
        }
        &.--secondary {
            @include button-variant('secondary');
        }
    }
    .__ripple {
        @include button-ripple-effect;
    }
    .--fullWidth {
        width: 100%;
    }
}