@import './styles/_common.scss';

.SelectSomething {
    .__label {
        display: block;
        font-size: map-get($fontSizes, small);
        padding-left: 5px;
    }
    .__select {
        outline: 0;
        box-shadow: none;
        background-image: none;
        height: 40px;
        padding: 10px 38px 10px 16px;
        transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
        border: 1px solid #ddd;
        border-radius: map-get($borderRadius, 3);
        &:hover {
            border: 1px solid #999;
        }
        &:focus {
            box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
        }
        &::-ms-expand {
            display: none;
        }
        &.--isFluid {
            width: 100%;
        }
        &.--isGray {
            @include transition;

            background-color: map-get($colors, gray-light);
            border: none;
            height: 50px;
            border-bottom: 1px solid map-get($colors, gray);
            font-size: map-get($fontSizes, small);
            padding-left: 13px;
            &:hover {
                background-color: darken(map-get($colors, gray-light), 5%);
                border-color: map-get($colors, gray);
            }
            &:focus {
                box-shadow: none;
            }
        }
    }
}