@keyframes Loader {
    0% {
        transform: translate(0,0)
    }
    50% {
        transform: translate(0,15px)
    }
    100% {
        transform: translate(0,0)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}