@import './styles/_common.scss';

.NewsArticlesElements {
    display: block;
    .__inner {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    .__element {
        @include padding-all(15);

        display: block;
        width: calc(100% / 3);
    }

    .__article {
        @include b-radius(3);
        @include padding-all(15);
        @include transition;
        @include motion-hover;

        background-color: map-get($colors, white);
        box-shadow: map-get($boxShadows, dp1);
        height: 100%;
        overflow: hidden;
    }
    .__articleContent {
        @include padding-all(15);
    }
    .__articlePicture {
        @include b-radius(3);

        height: 250px;
        position: relative;
        overflow: hidden;
    }
    .__articleImage {
        z-index: 1;
    }
    .__articleTitle {
        @include text-ellipsis;
        @include f-size(14);
    }
    .__articleAuthor {
        @include text-ellipsis;
        @include f-size(x-small);
        @include padding($top: 5, $bottom: 5);
        
        display: flex;
    }
    .__articlePublished {
        @include f-size(x-small);
        @include color(gray-dark);

        display: flex;
        justify-content: space-between;
    }
    .__articlePublishedDate,
    .__articlePublishedFrom {
        display: inline-block;
    }
    .__articleChip {
        position: absolute;
        left: 15px;
        top: 15px;
        z-index: 2;
    }
    .__articleActions {
        @include border('top');

        display: flex;
        justify-content: flex-end;
        margin: 10px 15px 0;
        padding-top: 15px;
    }
    
    @include media-breakpoint-down(xl) {
        .__element {
            width: 50%;
        }
    }
    @include media-breakpoint-down(sm) {
        .__element {
            width: 100%;
        }
        .__articlePicture {
            height: 200px;
        }
    }
}