@import './styles/_common.scss';

.Rbutton {
    @include button-creator;
    position: relative;
    .__icon {
        display: inline-block;
    }
    &.-asBlock {
        display: block;
        width: 100%;
    }
    &.-primary {
        cursor: pointer;
    }
    &.-secondary {
        @include button-variant('secondary');
    }
    &.-tertiary {
        @include button-variant('tertiary');
    }
    &.-icon {
        .__label {
            margin-left: 13px;
            display: inline-block;
        }
    }
    &.-xLarge {
        @include button-size(xLarge);
    }
    &.-small {
        @include button-size(small);
    }
    &.-spaceRight {
        margin-right: 15px;
    }
    &.-disabled {
        opacity: .3;
        pointer-events: none;
    }
    &.isLoader {
        pointer-events: none;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: inherit;
            z-index: 2;
        }
        .__loader {
            position: absolute;
            z-index: 3;
            animation: fa-spin 2s linear infinite;
        }
    }
}