@import './styles/_common.scss';

.Modal {
    display: block;
    .__overlay {
        position: fixed;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: rgba(0,0,0,.5);
        z-index: 99;
    }
    .__inner {
        position: fixed;
        top: 0; right: 0; bottom: 0; left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        &.-side {
            left: auto;
        }
    }
    .__content {
        @include rounded(4);
        @include modal-box-shadow;

        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #fff;
        height: 100%;
    }
    .__sizer {
        max-width: 767px;
        width: 100%;
        min-height: 220px;
        &.-small {
            max-width: 480px;
        }
        &.-fluid {
            max-width: none;
            min-height: 100%;
            height: 100%;
        }
        &.-side {
            height: 100%;
        }
    }
    .__header {
        @include border('bottom');
        @include padding($top: 15, $right: 30, $bottom: 15, $left: 30);
        @include bg-colorRGBA(blue, .1);
        @include rounded(4);
        
        display: flex;
    }
    .__headerInner {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 100px);
    }
    .__headerTitle {
        @include heading('h3');

        width: 100%;
    }
    .__headerSubtitle {
        @include color(pink);
    }
    .__headerDescription {
        @include f-size(x-small);

        font-weight: $fw-300;
    }
    .__close {
        position: absolute;
        top: 8px;
        right: 0;
        display: flex;
        justify-content: flex-end;
        width: 100px;
    }
    .__body {
        @include padding-all(30);
    }
    .__footer {
        @include border('top');
        @include padding-all(15);

        display: flex;
        justify-content: flex-end;
        margin-top: auto;
    }
    @include media-breakpoint-down(md) {
        .__header {
            @include padding-all(15);
        }
        .__headerInner {
            width: calc(100% - 50px);
        }
        .__headerTitleSuffix {
            @include f-size(small);
        }
        .__headerSubtitle {
            display: block;
        }
        .__sizer {
            height: 100%;
        }
        .__content {
            @include rounded(0);
        }
        .__body {
            @include padding-all(15);

            overflow-y: auto;
        }
    }
}
