@import './styles/_common.scss';

.GuestTableBodyBasic {
    display: block;
    .__row {
        @include transition;
        @include border(bottom);
        
        display: flex;
        align-items: center;
        &.isFirst {
            @include margin($top: 15);
        }
        &.isOdd {
            @include bg-color(gray-lighter);
        }
        &:hover {
            @include bg-color(pink-light);
        }
    }
    .__cell {
        @include padding-all(15);

        flex-basis: calc(100% / 4);
        &.-small {
            flex-basis: 200px;
        }
        &.-smaller {
            flex-basis: 100px;
        }
        &.-actions {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    .__cellIcon {
        @include square-size(48px);
        @include rounded(rounded);

        overflow: hidden;
    }
    .__cellAction {
        width: calc(50% - #{map-get($spacers, 5)});
        &.-details {
            @include padding($top: 10);
            width: 100%;
        }
    }
    @include media-breakpoint-down(md) {
        .__row {
            flex-wrap: wrap;
        }
    }
}
