@import './styles/_common.scss';
.App {
	@include bg-color(gray-lighter);
    display: block;
    font-family: $font-family-Roboto;
	.__sidebar {
		@include bg-color(darker);
		position: fixed;
		width: 280px;
		top: 0;
		bottom: 0;
		z-index: $z-index9;
	}
	.__main {
		min-height: 100vh;
		padding-left: 280px;
		&.-withoutSpace {
			padding-left: 0;
		}
	}
	.__content {
		background-color: transparent;
	}
	@include media-breakpoint-down(lg) {
		.__sidebar {
			transform: translateX(-100%);
		}
		.__main {
			padding-left: 0;
			min-height: auto;
		}
	}
}