@import './styles/_common.scss';
.App {
  display: block;
  font-family: $font-family-Roboto;
  background-color: map-get($colors, gray-lighter);
  .__sidebar {
    position: fixed;
    width: 280px;
    top: 0;
    bottom: 0;
    background-color: #fff;
  }
  .__main {
    min-height: 100vh;
    padding-left: 280px;
    &.--withoutSpace {
      padding-left: 0;
    }
  }
  .__content {
    background-color: transparent;
  }
}