@import './styles/_common.scss';

.LoginForm {
    position: relative;
    display: flex;
    max-width: 767px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    &:before {
        @include bg-color(ping);

        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 200%;
        right: calc(100% - 308px);
    }
    .__inner {
        position: relative;
        background-color: #fff;
        width: 100%;
        display: flex;
        box-shadow: map-get($boxShadows, dp5);
        height: 600px;
    }
    .__information {
        @include center-by-flex;
        @include padding-all(65);
        @include bg-color(pink);

        flex-direction: column;
    }
    .__informationDescription {
        @include f-size(x-small);
        @include color(gray-lighter);

        text-align: center;
    }
    .__oauth {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: calc(100% - 300px);
    }
    .__oauthHeader {
        @include color(pink);
        @include padding($left: 30, $right: 30);

        font-weight: $fw-600;
        text-align: left;
    }
    .__oauthSubheader {
        @include color(dark);
        @include f-size(x-small);
        @include padding($left: 30, $right: 30);
    }
    .__oauthForm {
        @include padding-all(30);

        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .__oauthError {
        @include padding($top: 30);
    }
    .__button {
        @include padding($top: 15);

        display: flex;
        justify-content: flex-end;
    }
    .__logo {
        max-width: 100%;
    }
    @include respond-down(md) {
        &:before {
            display: none;
        }
        .__inner {
            flex-direction: column;
            height: 100%;
            box-shadow: none;
        }
        .__information {
            @include padding-all(25);
            
            align-items: flex-start;
        }
        .__oauth {
            @include padding($top: 25);

            width: 100%;
        }
        .__oauthHeader,
        .__oauthSubheader {
            @include padding($left: 25, $right: 25);
        }
        .__oauthForm {
            @include padding-all(25);
            @include padding($top: 15);
        }
    }
}