.MegamenuElement {
    .__list {
        list-style: none;
    }
    .__listElement {
        font-size: 14px;
    }
    .__listAnchor {
        font-size: 14px;
        &.isActive {
            color: red;   
        }
    }
}