@import './styles/_common.scss';

.Megamenu {
    height: 100%;
    .__list {
        @include list-unstyled;
        @include nice-scroll($thumbColor: gray-dark);
        @include padding-all(25);
        overflow: auto;
        border-bottom: 1px solid map-get($colors, gray-light);
        height: calc(100% - 180px);
    }
    .__element {
        padding: 10px 0;
    }
    .__elementHeader {
        @include f-size(x-small);
        @include color(gray);
    }
    @include respond-down(md) {
        .__list {
            @include padding-all(15);
            height: calc(100% - 155px);
        }
    }
}
