@import './styles/_common.scss';

.MegamenuElement {
    @include list-unstyled;
    .__list {
        list-style: none;
    }
    .__listElement {
        font-size: 14px;
    }
    .__listAnchor {
        @include transition;
        @include rm-decoration;
        @include color(gray);

        display: flex;
        align-items: center;
        padding: 10px;

        &:hover {
            background-color: map-get($colors, darken);
        }

        &.isActive {
            @include color(white);
            .__icon {
                @include bg-color(pink);
            }
        }
    }
    .__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: map-get($colors, darken);
    }
    .__iconSvg {
        font-size: 20px;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
}