@import './styles/_common.scss';

.Chips {
    @include b-radius(25);
    @include f-size(x-small);
    display: block;
    padding: 5px 10px;
    text-align: center;
    &.-rounded {
        border-radius: 50%;
    }
    &.-curved {
        @include b-radius(4);
    }
    &.-small {
        display: inline-block;
        padding: 5px 10px;
        min-width: 90px;
    }
    &.-big {
        padding: 10px;
    }
    &.-bold {
        font-weight: $fw-600;
    }
    &.-primary {
        @include color(white);
        background-color: map-get($colors, pink);
    }
    &.-secondary {
        @include color(pink);
        background-color: map-get($colors, gray-lighter);
    }
    &.-pending {
        @include color(white);
        @include bg-color(orange-light);
    }
    &.-declined {
        @include color(white);
        @include bg-color(red);
    }
    &.-confirmed {
        @include color(white);
        @include bg-color(green-light);
    }
    &.-outlined {
        @include border('around', $borderColor: gray-dark);
    }
    .__text {
        font-size: inherit;
    }
}
