@import './styles/_common.scss';

.DecoratedList {
    display: block;
    .__list {
        @include list-unstyled;

        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
        margin-left: -10px;
        margin-right: -10px;
    }
}
