@import './styles/_common.scss';

.Header {
    @include border('bottom', $borderColor: gray-light);
    @include center-by-margin;
    @include bg-color(white);

    max-width: map-get($LayoutWidths, section);
    min-height: get($header, desktopHeight);
    .__inner {
        @include center-by-flex-y;
        justify-content: flex-end;
        min-height: get($header, desktopHeight);
    }
    @include media-breakpoint-down(md) {
        @include position('fixed', $top: 0, $right: 0, $left: 0);

        min-height: get($header, mobileHeight);
        box-shadow: get($header, mobileBoxShadow);
        z-index: $z-index9;
        .__inner {
            justify-content: space-between;
            min-height: get($header, mobileHeight);
            margin-left: -15px;
        }
    }
}
