html {
    --color-wp-white    : #ffffff;
    --color-gray-lighter: #fbfbfb;
    --color-gray-light  : #e9e9e9;
    --color-gray        : #ccc;
    --color-gray-dark   : #aaa;
    --color-gray-darker : #a4a6a8;
    --color-green-light : #28a745;
    --color-green       : #2cc5f7;
    --color-blue        : #20b4e9;
    --color-orange-light: #ffc107;
    --color-orange      : #ff5722;
    --color-pink        : #E9204F;
    --color-pink-dark   : #0eb582;
    --color-red         : #e53935;
    --color-dark-light  : #444;
    --color-dark        : #333;
    --color-darker      : #2c303b;
    --color-darken      : #343842;
    --color-black       : #000;
}

html {
    --color-rgb-pink-lighten: 233,32,79;
}
