

$font-family-Roboto: 'Roboto', sans-serif;

$colors: (
    white       : #fff,
    gray-lighter: #fbfbfb,
    gray-light  : #e9e9e9,
    gray        : #ccc,
    gray-dark   : #aaa,
    gray-darker : #a4a6a8,
    green       : #2cc5f7,
    blue        : #2664ff,
    orange      : #ff5722,
    pink        : #E9204F,
    red         : #e53935,
    dark        : #333
);

$fontSizes: (
    x-small : 1.2rem,
    small   : 1.4rem,
    medium  : 1.6rem,
    large   : 2.0rem,
    x-large : 2.4rem
);

$LayoutWidths: (
    section  : 1600px,
    container: 1440px
);

$LayerSpacers: (
    padding: 15px,
    margin : -15px
);

$spacers: (
    5 : 5px,
    10: 10px,
    15: 15px,
    20: 20px,
    25: 25px,
    30: 35px,
    65: 65px
);

$breakpoint: (
    xs: 321px,
    sm: 768px,
    md: 992px,
    lg: 1440px
);

$fw-300: 300;
$fw-400: 400;
$fw-600: 600;

$headingsFontFamily: 'Oswald', sans-serif;
$dancingFontFamily: 'Dancing Script', cursive;

$headingsSizes: (
    h1: 3.5rem,
    h2: 3.0rem,
    h3: 2.5rem,
    h4: 2.0rem,
    h5: 1.5rem,
    h6: 1.0rem
);
$headingsLineHeight: (
    h1: 4.0rem,
    h2: 3.5rem,
    h3: 3.0rem,
    h4: 2.5rem,
    h5: 2.0rem,
    h6: 1.5rem, 
);

$borderRadius: (
    3      : 3px,
    6      : 6px,
    25     : 25px,
    rounded: 50%
);

$boxShadows: (
    dp1: #{0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)},
    dp2: #{0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)},
    dp3: #{0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)},
    dp4: #{0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)},
    dp5: #{0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)}
);

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);