@import './styles/_common.scss';

.NewsArticles {
    @include padding($bottom: 30);
    .__inner {
        display: block;
    }
    .__selects {
        display: flex;
        justify-content: flex-end;
        margin-left: -10px;
        margin-right: -10px;
    }
    .__select {
        padding: 10px;
    }
    .__header {
        color: red;
    }
}