@import './styles/_common.scss';

.Footer {
    @include center-by-margin;
    @include border('top');

    background-color: map-get($colors, white);
    max-width: map-get($LayoutWidths, section);
    margin-top: 30px;
    .__inner {
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
    }
}
