@import './styles/_common.scss';

.Footer {
    @include center-by-margin;
    @include border('top');
    background-color: map-get($colors, gray-lighter);
    max-width: map-get($LayoutWidths, section);
    .__inner {
        color: blue;
    }
}