@mixin border ($borderDirection,
               $borderWidth: 1px, 
               $borderStyle: solid,
               $borderColor: gray-light) {
    @if $borderDirection != 'around' {
        #{'border'}-#{$borderDirection}: $borderWidth $borderStyle map-get($map: $colors, $key: $borderColor);
    } @else {
        border: $borderWidth $borderStyle $borderColor;
    }                
}

@mixin b-radius($radiusValue) {
    border-radius: map-get($borderRadius, $radiusValue);
}
