@mixin rounded($radius) {
    border-radius: map-get($borderRadius, $radius);
}
@mixin rounded-top($radius) {
    border-top-left-radius: map-get($borderRadius, $radius);
    border-top-right-radius: map-get($borderRadius, $radius);
}
@mixin rounded-bottom($radius) {
    border-bottom-left-radius: map-get($borderRadius, $radius);
    border-bottom-right-radius: map-get($borderRadius, $radius);
}
