@mixin text-ellipsis {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin hide-text {
    display: inline-block;
    text-indent: -9999px;
}

@mixin f-size($sizeValue) {
    font-size: map-get($fontSizes, $sizeValue);
}

@mixin color($colorValue) {
    color: map-get($colors, $colorValue);
}
@mixin colorRGBA($colorValue, $alpha) {
    color: rgba(map-get($colorsRGB, $colorValue), $alpha);
}

@mixin bg-color($colorValue) {
    background-color: map-get($colors, $colorValue);
}
@mixin bg-colorRGBA($colorValue, $alpha) {
    background-color: rgba(map-get($colorsRGB, $colorValue), $alpha);
}

@mixin rm-decoration {
    text-decoration: none!important;
}
@mixin rm-decoration-all {
    text-decoration: none;
    &:active,
    &:hover,
    &:focus {
        text-decoration: none;
    }
}
