@import './styles/_common.scss';

.Hr {
    background-color: map-get($colors, pink);
    height: 2px;
    width: 60px;
    .__text {
        display: none;
    }
    &.-wide {
        width: 100px;
    }
    &.-spacer {
        margin: 8px 0;
    }
}